.Build/
.cache/
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
.php-cs-fixer.cache
/Build/phpunit/.phpunit.cache/
/Build/Quality/.phpstan/
/composer.lock
/node_modules/
/package-lock.json
/var/
*.zip
